<html>
  <head>
    
  </head>
  <body>
    Lets see if this works

  <!--   <div id="authorize-div" style="display: none">
      <span>Authorize access to Gmail API</span>
      Button for the user to click to initiate auth sequence 
      <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
      </button>
    </div>
    <pre id="output"></pre> -->
    <div id="containerPage" class="output">
    	<button type="button" class="gsignin">Google Sign in</button>
    </div>
    
    <!-- <script src="/javascripts/index.js" type="text/javascript"></script> -->
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/underscore.js" type="text/javascript"></script>
    <script src="/javascripts/backbone.js" type="text/javascript"></script>
    <script src="/javascripts/models/inboxModel.js" type="text/javascript"></script>
    <script src="/javascripts/models/messagesCollection.js" type="text/javascript"></script>
    <script src="/javascripts/views/inboxView.js" type="text/javascript"></script>
  </body>
</html>
