<html>
<head>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>  
<script type="text/javascript" src="../javascripts/lib/underscore.js"></script>   
<script type="text/javascript" src="../javascripts/lib/backbone.js"></script>   
<script type="text/javascript" src="../javascripts/model/EmailInboxModel.js"></script>   
</head>
<body>

<button type="button" id="loginBtn" onclick="handleAuthClick()">Login</button>
<button type="button" id="loginBtn" onclick="displayMsg()">Display Message</button>
<div></div>
<script type="text/script">

  var apiKey='BBFtuFUEoIn-_zKey7H5xKOA';
var clientId = '840746466796-8iigl2prf4b39vsferadfkeqesp24dpl.apps.googleusercontent.com';
var scopes = 'https://www.googleapis.com/auth/plus.me';  
 
 
function handleClientLoad() {
    gapi.client.setApiKey(apiKey);
}
 

function handleAuthResult(authResult) {
 
    if (authResult && !authResult.error) {
        makeApiCall();
    } 
}
  

function handleAuthClick(event) { gapi.auth.authorize({ client_id: clientId, 
            scope: scopes, immediate: false }, handleAuthResult);
 
    return false;
}
 

function makeApiCall() {
    gapi.client.load('plus', 'v1', function () {
        var request = gapi.client.plus.people.get({
            'userId': 'abc'
        });
 
        request.execute(function (resp) {
        console.log(resp);
         alert(resp);
        });
        
        
        
        
    });
}
 
//$(function () {
  //  var authorizeButton = document.getElementById('loginBtn');
    //authorizeButton.onclick = handleAuthClick;
//});
      
 


</script>

<script type="text/template" id="inboxTemplate">
    <h1>Your Inbox</h1>
    {{ emailMsgcollection.each(function(model,index){ }}
    <div>
      <span>{{ index + 1}}</span>
      <a href="" id="inboxMsg" ><span>{{ model.get('message') }}</span> </a>   
    </div>
    {{ }); }}
</script>
<script type="text/javascript">
  var InboxView=Backbone.View.extend({
  //el:"#inboxTemplate",
  tagName:'ul',
  initialize:function(){
      this.render();
  },
  render:function(){
  var emailCollection=new EmailInboxCollection();
  var model1=new EmailInboxModel({"id":1,"message":"Good Morning"});
   var model1=new EmailInboxModel({"id":2,"message":"Welcome to BackboneJs"});
  emailCollection.add(model1,model2);
 
    var template=_.template($("#inboxTemplate")).html(); 
    this.$el.html(template,{emailMsgcollection:emailCollection});
  
  },
   
  //emailCollection.fetch(function(data){
  
//  });
  
  });
var inboxView1=new InboxView();
inboxView1.render();
</script>
</body>

</html>
